/* Загальні скидання */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Шапка */
.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px;
}

.header img {
    height: 110px;
    margin-right: 10px;
}

/* Блок ПЗАС + текст */
.pz-block {
    display: flex;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 5px;
    align-items: flex-start; /* Вирівнюємо елементи по верхньому краю */
}

.pz-letters {
    display: flex;
    flex-direction: column;
    background-color: #242060;
    justify-content: space-between;
    padding: 0;
    border-radius: 4px; /* Додаємо заокруглення для синього блоку */
    width: 20px; /* Зменшуємо ширину синього блоку */
    overflow: hidden; /* Забезпечуємо, щоб вміст не виступав за межі блоку */
}

.pz-letters div {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
    height: 24px;
    width: 20px; /* Зменшуємо ширину під літеру */
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pz-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0; /* Видаляємо відступ для з'єднання літер */
}

.pz-text p {
    font-size: 16px; /* Зменшено розмір шрифту для відповідності */
    font-weight: 700; /* Зроблено більш жирним, як у літер */
    text-transform: uppercase;
    line-height: 1.6;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #272A2C;
    padding-left: 0; /* Видалено відступ зліва */
    display: flex;
    align-items: center;
    height: 24px; /* Встановлюємо висоту, рівну висоті літери */
}

/* Меню */
.list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
}

.nav {
    font-size: 25px;
    padding: 0 50px;
    height: 110px;
    display: flex;
    align-items: center;
    color: #333;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    border-left: 2px solid #e6e6e6;
    line-height: 65px;
}

.nav:hover {
    background-color: #f5f5f5;
}

/* Основна частина */
main {
    margin-top: 31px;
    display: flex;
    width: 100%;
    height: 168px;
    padding-left: 20px;
}

main button {
    width: max-content;
    padding: 20px;
    color: #ffffff;
    height: 64px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 204, 247, 1) 37%, rgba(9, 9, 121, 1) 100%);
    font-family: "Inter", sans-serif;
    border: none;
    font-weight: 700;
    font-size: 20px;
}

.title {
    font-size: 50px;
    width: 46%;
    margin-bottom: 38px;
    font-family: "Inter", sans-serif;
}